:root {
	--gray_1: #F5F5F7;
	--gray_2: #9B8F8F;
	--gray_3: #767676;
	--gray_4: #756C6C;
	--gray_5: #323232;
	--orange: #FFB178;
	--white: #ffffff;
	--font1: 'Poiret One', cursive;
	--font2: 'Pacifico', cursive;
}

body {
	background-color: var(--gray_1);
	font-family: var(--font1);
	color: var(--gray_2);

}

.header {
margin-top: 20px;
	position: sticky;
	top: 0;
	z-index: 9999;
	background-color: var(--gray_1);

}

.scroll {
	box-shadow: 0px 30px 30px 0px RGB(0,0,0,5%);
}

.logo {
	font-family: var(--font2);
	color: var(--gray_2);
	font-size: 34px;
	text-decoration: none;
}

.logo:hover {

	transition: all 0.3s ease;
	color: var(--orange);
}

.menu-link {
	font-size: 22px;
	color: var(--gray_3);
	margin-left: 10px;
}

.menu-link:hover, .bok-soc:hover, .btn:hover {
	cursor: pointer;
	transform: scale(1.03);
	transition: all 0.3s ease;
	color: var(--orange);
	border-color: var(--orange);
}

.menu-link:first {
	margin-left: 0px;
}

.btn {
	border: 0.8px solid var(--gray_2);
	border-radius: 0px;
	color: var(--gray_5);

}

.btn-header{
	font-size: 18px;
	padding: 6px 40px;
}

main {
	margin-top: 110px;
}

.main {
	display: flex;
	justify-content: space-between;
	position: relative;
}


h1 {
	font-size: 60px;
	color: var(--gray_5);
}

.main h2 {
	font-size: 32px;
	color: var(--gray_3);
	line-height: 56px;
	margin-top: 34px;
}

.facts{
	margin-top: 120px;
	margin-bottom: 30px;
}


.fact{
	float: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 60px;
	margin-bottom: 48px;

}

.fact1{
	margin-left: 0px;
}

.fact span{
	font-size: 64px;
	line-height: 64px;
}

.fact p{
	font-size: 20px;
}

.btn-main{
	display: block;
	padding: 14px 50px;
	font-size: 24px;
	margin-top: 40px;
}

.main-img{
	display: flex; 
	flex-direction: column ;
	justify-content: flex-end;
	z-index: 1;
	position: relative;
	left: -20px;
}

.main-img img{
	width: 580px;
	z-index: 1;
}

.soc-main{
	position: absolute;
	transform: rotate(270deg);
	display: flex;
	align-items: center;
	right: -195px;
	top: 150px;
	color: var(--gray_4);
	font-size: 24px;
}

.soc-hr{
	width: 100px;
	display: inline-block;
}

.shadow-blok{
	height: 30px;
	box-shadow: 0px -30px 30px 0px RGB(0,0,0,5%);
	z-index: 999;
}

.recomend{
 margin-bottom: 60px;
}

.menu-recomend{
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	height: 26px;
	color: #645C5C;
	font-size: 28px;
	margin-bottom: 60px;
}

.menu-recomend li{
	float: left;
	margin-left: 34px;
	position: relative;
	cursor: pointer;
}

h3{
	font-size: 58px;
	color: var(--gray_5);
	margin-top: 40px;
	margin-bottom: 34px;
}

p{
	line-height: 56px;
	font-size: 28px;
	color: var(--gray_2);
}

.activete::before{
	content: '';
	position: absolute;
	height: 0.8px;
	width: 100%;
	background-color: var(--gray_3);
	top: 50px;
}

.marker::before{
	content: '';
	position: absolute;
	height: 20px;
	background-color: var(--orange);
	opacity: 40%;
	width: 100%;
	top: 18px;
	left: -4px;
	z-index: 1;
}

.sertificats{
	display: flex;
	justify-content: space-between;
gap: 14px;
}

.serf{
	height: 450px;
}

.sertificat{
	padding-bottom: 70px;

}

.contact{
	padding-bottom: 30px;

}

.cont{
	font-size: 32px;
	line-height: 40px;
	color: var(--gray_4);
	padding: 0;
	margin: 0;
	margin-left: 20px;
	margin-top: 16px;
}

.cont-sup{
	font-size: 18px;
	color: var(--gray_4);
	margin-bottom: 50px;
	margin-left: 20px;
}

.footer{
	background-color: var(--gray_4);
	padding: 30px 0;
	color: var(--white);
	
}

.footer .menu-link{
	color: var(--white);
	float: left;
	margin-left: 28px;
}

.footer .menu-link:hover{
	color: var(--orange);
}

.footer ul{
	display: flex;
	flex-direction: row;

}

.footer .menu-link:first{
margin-left: 0;
}

.footer .logo{
	color: var(--white);
}

.footer .logo:hover{
	color: var(--orange);
}

.socseti img{
	width: 40px;
	margin-left: 14px;
	color: #FFB178;

}

.socseti img:hover{
	transform: scale(1.06);
	transition: all 0.3s ease;
	cursor: pointer;
	color: var(--orange);

}

.copy{
	text-align: center;
	font-size: 18px;
	color: #c3bcb9;
	margin-top: 20px;
}

 svg {
  fill: darkgreen;
}

#recom:before, #sert:before, #cont:before, #uslugi::before, #otzv::before{
  display: block;
  content: " ";
  margin-top: -95px;
  height: 95px;
  visibility: hidden;
}

.uslugi img{
	width: 100%;


}

.card-text{
	line-height: 38px;
	font-size: 38px;
	color: var(--gray_4) ;
	margin-bottom: 0;
}


.card-title{
	font-size: 30px;
	color: var(--gray_3);
	margin-top: 26px;
	margin-bottom: 30px;
}

.uslugs .card:hover{
	cursor: pointer;
	transform: scale(1.03);
	transition: all 0.5s ease;
}

.card .btn{
padding: 10px 30px;
font-size: 20px;
border-color: var(--gray_2);
color: var(--gray_4);
}

.card .btn:hover{
	color: var(--orange);
	border-color: var(--orange);
	}

.card{
	border-radius: 10px;
	border: none;
	box-shadow: 0 4px 10px 0 RGB(0,0,0,10%);
}

.otzivs img{
	border-radius: 50%;
	width: 50%;
	margin-left: 25%;
	margin-top: 30px;

}

.name{
	font-size: 26px;
	color: var(--gray_5);
	text-align: center;

}

.otzText{
		font-size: 20px;
	color: var(--gray_2);
	line-height: 26px;
	text-align: center;
}

.carousel-indicators{
	bottom: -58px;
}


.carousel-indicators [data-bs-target]{
	width: 10px;
	height: 10px;
	background-color: #323232;
	border-radius: 5px;
}